# Secrets and environment overrides
.env

# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.sqlite
*.db
data/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Local Keys
cyber_ayi_private_key.txt
cyber_ayi_gpg_key.txt
